.content {
	margin: 0 auto 50px auto;
}

.tab-pane {
	border: 1px solid #ddd;
	border-top: none;
	padding: 20px;
}

.panel-title {
	font-weight: bold;
}

body {
	background-color: #f3f3f3;
}

.tab-content {
	background-color: #fff;
}

.title {
	font-weight: bold;
}

@media (max-width: 767px) { 
    .nav-tabs > li {
        float:none;
        border:1px solid #dddddd;
    }
    .nav-tabs > li.active > a{
        border:none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
     {
        background:none;
        border:none;
    }
}